<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="signIn-form">
    <h1>IF YOU SEEE THIS PAGE IT MEANS YOUR LOG IN HAS FAILED.</h1>

    <fieldset>
        <form>
            <p><a href="/registration">Go to registering</a><a href="/signIn">Log in</a></p>
        </form>
    </fieldset>

</div>

</body>
</html>