<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>

<div id="signIn-form">
    <h1>IF YOU SEE IT IT MEANS U SUCCESSFULLY REGISTERED.</h1>

    <fieldset>
        <form>
            <p><a href="../mainpage.html">Go to ... (Still in process)</a></p>
        </form>
    </fieldset>

</div>


</body>
</html>